<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.talk.dao.TalkDao">
	<select id="maxNum" resultType="int">
	select nvl(max(num),0) from talk
	</select>
	<insert id="insertData" parameterType="Talk">
		insert into talk
		values(#{num},#{name},#{pwd},#{subject},#{content}, 0, sysdate)
	</insert>
	<select id = "getDataCount" parameterType="map" resultType="int">
		select nvl(count(*),0) from talk where ${searchKey} like '%' || #{searchValue} || '%'
	</select>
	<select id="getLists" parameterType="map" resultType="Talk">
		select*from(
		select rownum rnum, data.*from
		(select num,name,subject,hitcount,to_char(created,'YYYY-MM-DD') created
		from talk where ${searchKey} like '%' || #{searchValue} || '%'
		order by num desc) data)
		
		<![CDATA[		
		where rnum>= #{start} and rnum <= #{end}
		]]>
	</select>
	<update id="updateHitCount" parameterType="int">
		update talk set hitCount = hitCount+1 where num = #{num}
	</update>
	<select id="getReadData" parameterType="int" resultType="Talk">
	select * from talk where num = #{num}
	</select>
	
	<update id="updateData" parameterType="Talk">
	update talk set name=#{name}, pwd=#{pwd}, subject=#{subject}, content=#{content} where num= #{num}
	</update>
	
	<delete id="deleteData" parameterType="int">
	delete talk where num = #{num}
	</delete>
</mapper>